APP_SECRET=change_me_super_secret
APP_JWT_EXPIRES_MIN=60
APP_ENV=dev
APP_TENANT=fake

MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

DB_HOST=localhost
DB_PORT=5432
DB_USER=pvz
DB_PASSWORD=change_me
DB_NAME=pvzdb