MQTT_USERNAME=
MQTT_PASSWORD=
POSTGRES_USER=pvz
POSTGRES_PASSWORD=change_me
POSTGRES_DB=pvzdb
APP_DYNSEC_ENABLED=true
APP_DYNSEC_CONTROL_TOPIC=$CONTROL/dynamic-security/v1
APP_DYNSEC_RESPONSE_TOPIC=$CONTROL/dynamic-security/v1/response
APP_DYNSEC_ADMIN_USERNAME=admin
APP_DYNSEC_ADMIN_PASSWORD=change_me